.app_header {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

@media (max-width: 770px) {
	.app_header {
		display: block;
	}
}

 .h1 {
	font-size: calc(24px + 12 * ((100vw - 320px) / 960));
	white-space: nowrap;
}

@media (max-width: 770px) {
	.h1 {
		text-align: start;
	}
}

 .h2 {
	font-size: calc(16px + 8 * ((100vw - 320px) / 960));
	color: #979ea4;
	white-space: nowrap;
}

@media (max-width: 770px) {
	.h2 {
		text-align: end;
	}
}